<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <!-- Giriş -->
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Giriş</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="AdminHome" asp-controller="AdminHomePage" aria-expanded="false">
                <span>
                    <i class="ti ti-dashboard"></i>
                </span>
                <span class="hide-menu">Ana Sayfa</span>
            </a>
        </li>

        <!-- Kullanıcı İşlemleri -->
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Kullanıcı İşlemleri</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="Index" asp-controller="Employee" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Kullanıcılar</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="RegisterEmployee" asp-controller="Employee" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Yeni Kullanıcı Kayıt</span>
            </a>
        </li>
        <!-- Duyuru İşlemleri -->
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Duyuru İşlemleri</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="Index" asp-controller="Announcement" aria-expanded="false">
                <span>
                    <i class="ti ti-bell"></i>
                </span>
                <span class="hide-menu">Duyurular</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="AddDepartment" asp-controller="Department" aria-expanded="false">
                <span>
                    <i class="ti ti-bell"></i>
                </span>
                <span class="hide-menu">Yeni Duyuru Yap</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Departman İşlemleri</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="DepartmentList" asp-controller="Department" aria-expanded="false">
                <span>
                    <i class="ti ti-bell"></i>
                </span>
                <span class="hide-menu">Departmanlar</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Department/AddDepartment/" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Yeni Departman Kayıt</span>
            </a>
        </li>
        <!-- Diğer İşlemler -->
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Diğer İşlemler</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="LogoutAdmin" asp-controller="AdmibHome" aria-expanded="false">
                <span>
                    <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
