<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Paneli</title>
    <link rel="shortcut icon" type="image/png" href="/Project_Files/logos/favicon.png" />
    <link rel="stylesheet" href="/Project_Files/css/styles.min.css" />
</head>