
@{
    Layout = null;
}

<link rel="stylesheet" href="/Project_Files/css/ErrorPage.css" />
<div class="section">
    <h1 class="error">Erişim Reddedildi!</h1>
    <div class="page">Bu sayfayı görüntüleme yetkiniz bulunmuyor!</div>
    <a class="back-home" asp-action="HomePage" asp-controller="HomeScreen">Ana Sayfaya Dön</a>
</div>
