
@{
    Layout = null;
}
<link rel="stylesheet" href="/Project_Files/css/ErrorPage.css" />
<div class="section">
    <h1 class="error">@ViewBag.StatusCode</h1>
    <div class="page">Ooops!!! The page you are looking for is not found</div>
    <a class="back-home" href="#!">Back to home</a>
</div>