@model UI_Layer.Dtos.EmployeeDto.ResultEmployeeDto

@{
    ViewData["Title"] = "EmployeeInfo";
    Layout = "~/Views/EmployeeLayout/EmployeeLayout.cshtml";
}

<h1>Kullanıcı Bilgileri</h1>

<div>
    <h4>Kullanıcı: @ViewBag.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Departman
        </dt>
        <dd class="col-sm-10">
            @ViewBag.DepartmentName
        </dd>
        <dt class="col-sm-2">
            Mail
        </dt>
        <dd class="col-sm-10" id="employee-lastname">
            @ViewBag.Username
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Ana Sayfaya Dön</a>
</div>

